%h1.header Sections

.sections
  %table
    %thead
      %tr
        %th Course - Section
    %tbody
      - @sections.each do |s|
        %tr
          %td= link_to 'CSCE 101 - 500', section_projects_path(section_id: 1)
          %td= link_to 'Edit', edit_section_path(s)
          %td= link_to 'Destroy', s, method: :delete, data: { confirm: 'Are you sure?' }
  %br
  = link_to 'New Section', new_section_path
  = image_tag 'https://brandguide.tamu.edu/assets/img/logos/tam-logo.png', :size => '150x120', :class => 'logo'
  .bg-modal
    .modal-content
      .modal-header
        Welcome to our Team Matchmaker! 
      .modal-text
        The goal of this application is to help you create teams for your academic projects using our matching algorithm
      = button_tag 'Show Me How it Works', class: 'button', id: 'button'    

:javascript
  $(function(){
    $('#button').click(function(){
      $('.bg-modal').hide()
    });
  });